{% ckan_extends %}
{% block secondary_content %}
<% if @use_default_extent %>
{% snippet "spatial/snippets/spatial_query.html", default_extent="<%= scope.lookupvar('ckan::ext::spatial::default_extent') -%>" %}
<% else %>
{% snippet "spatial/snippets/spatial_query.html" %}
<% end %>
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

