#
# CKAN - Pylons configuration
#
# These are some of the configuration options available for your CKAN
# instance. Check the documentation in 'doc/configuration.rst' or at the
# following URL for a description of what they do and the full list of
# available options:
#
# http://docs.ckan.org/en/ckan-2.0/configuration.html
#
# The %(here)s variable will be replaced with the parent directory of this file
#

[DEFAULT]

# WARNING: *THIS SETTING MUST BE SET TO FALSE ON A PRODUCTION ENVIRONMENT*
debug = false

[server:main]
use = egg:Paste#http
host = 0.0.0.0
port = 5000

[app:main]
use = egg:ckan
full_stack = true
cache_dir = /tmp/%(ckan.site_id)s/
beaker.session.key = ckan

# This is the secret token that the beaker library uses to hash the cookie sent
# to the client. `paster make-config` generates a unique value for this each
# time it generates a config file.
beaker.session.secret = <%= scope.lookupvar('ckan::beaker_secret')  -%>

# `paster make-config` generates a unique value for this each time it generates
# a config file.
app_instance_uuid = <%= scope.lookupvar('ckan::app_instance_id') -%>

# repoze.who config
who.config_file = %(here)s/who.ini
who.log_level = warning
who.log_file = %(cache_dir)s/who_log.ini

## Database Settings

sqlalchemy.url = postgresql://ckan_default:<%= scope.lookupvar('ckan::ckan_pass') -%>@localhost/ckan_default

## DataStore Extension
ckan.datastore.write_url = postgresql://ckan_default:<%= scope.lookupvar('ckan::ckan_pass') -%>@localhost/datastore_default
ckan.datastore.read_url = postgresql://datastore_default:<%= scope.lookupvar('ckan::ckan_pass') -%>@localhost/datastore_default

## Data pusher
ckan.datapusher.url = http://0.0.0.0:8800
ckan.datapusher.formats = <%= scope.lookupvar('ckan::datapusher_formats') %>

## Site Settings

ckan.site_url = <%= scope.lookupvar('::ckan::site_url') %>

## Authorization Settings

ckan.auth.anon_create_dataset = false
ckan.auth.create_unowned_dataset = false
ckan.auth.create_dataset_if_not_in_organization = false
ckan.auth.user_create_groups = false
ckan.auth.user_create_organizations = false
ckan.auth.user_delete_groups = false
ckan.auth.user_delete_organizations = false
ckan.auth.create_user_via_api = false


## Search Settings

ckan.site_id = ckan
solr_url = http://127.0.0.1:8983/solr/ckan
# instruct ckan to use Solr
ckan.simple_search = false

## Plugins Settings

# Note: Add ``datastore`` to enable the CKAN DataStore
#       Add ``pdf_preview`` to enable the resource preview for PDFs
#		Add ``resource_proxy`` to enable resorce proxying and get around the
#		same origin policy
<% if scope.lookupvar('::ckan_production_plugins') %>
ckan.plugins = <%= @ckan_production_plugins %>
<% else %>
ckan.plugins = <%= scope.lookupvar('ckan::plugins') %>
<% end %>

## Front-End Settings
extra_public_paths = /var/local/ckan
ckan.site_title = <%= scope.lookupvar('ckan::site_title') %>
#ckan.site_logo = /base/images/ckan-logo.png
#ckan.site_logo = /images/lcr_logo_white_sm.png
# only set logo if its been set
<% if scope.lookupvar('ckan::site_logo') != "" %>
ckan.site_logo = /base/images/site_logo.png
<% end %>
ckan.site_description = <%= scope.lookupvar('ckan::site_description') %>
ckan.site_intro_text = <%= scope.lookupvar('ckan::site_intro') %>
ckan.site_about = <%= scope.lookupvar('ckan::site_about') %>
<% if scope.lookupvar('ckan::custom_css') != "main.css" %>
ckan.main_css = /base/css/custom.css
<% else %>
ckan.main_css = /base/css/main.css
<% end %>
ckan.favicon = /images/icons/ckan.ico
ckan.gravatar_default = identicon
ckan.preview.text_formats = <%= scope.lookupvar('ckan::text_formats') %>
ckan.preview.json_formats = <%= scope.lookupvar('ckan::json_formats') %>
ckan.preview.xml_formats = <%= scope.lookupvar('ckan::xml_formats') %>
# package_hide_extras = for_search_index_only
#package_edit_return_url = http://another.frontend/dataset/<NAME>
#package_new_return_url = http://another.frontend/dataset/<NAME>
<% if scope.lookupvar('ckan::recaptcha_publickey') && scope.lookupvar('ckan::recaptcha_privatekey') -%>
ckan.recaptcha.version = <%= scope.lookupvar('ckan::recaptcha_version') %>
ckan.recaptcha.publickey = <%= scope.lookupvar('ckan::recaptcha_publickey') %>
ckan.recaptcha.privatekey = <%= scope.lookupvar('ckan::recaptcha_privatekey') %>
<% end -%>
<% if scope.lookupvar('ckan::license') != "" %>
licenses_group_url = file://<%= scope.lookupvar('ckan::ckan_default') %>/<%= scope.lookupvar('ckan::license_file') %>
<% else %>
licenses_group_url = http://licenses.opendefinition.org/licenses/groups/ckan.json
<% end %>
# ckan.template_footer_end =

## Time/Date
ckan.display_timezone = <%= scope.lookupvar('ckan::display_timezone') %>

## Internationalisation Settings

ckan.locale_default = <%= scope.lookupvar('ckan::locale_default') %>
ckan.locale_order = en pt_BR ja it cs_CZ ca es fr el sv sr sr@latin no sk fi ru de pl nl bg ko_KR hu sa sl lv
ckan.locales_offered =
ckan.locales_filtered_out =
<% if scope.lookupvar('ckan::i18n_directory') != "" %>
ckan.i18n_directory = <%= scope.lookupvar('ckan::i18n_directory') %>
<% end %>

## Feeds Settings

ckan.feeds.author_name = <%= scope.lookupvar('ckan::feeds_author_name') %>
ckan.feeds.author_link = <%= scope.lookupvar('ckan::feeds_author_link') %>
ckan.feeds.authority_name = <%= scope.lookupvar('ckan::feeds_authority_name') %>
ckan.feeds.date = <%= scope.lookupvar('ckan::feeds_date') %>

## Storage Settings

# Local file storage:
### deprecated in 2.2
### but must be used if upgrading from 2.1 to 2.2
ofs.impl = pairtree
ofs.storage_dir = <%= scope.lookupvar('ckan::ckan_storage_path') %>
## 2.2 config
ckan.storage_path      = <%= scope.lookupvar('ckan::ckan_storage_path') %>
ckan.max_resource_size = <%= scope.lookupvar('ckan::max_resource_size') %>
ckan.max_image_size    = <%= scope.lookupvar('ckan::max_image_size') %>

# Google cloud storage:
#ofs.impl = google
#ofs.gs_access_key_id =
#ofs.gs_secret_access_key =

# S3 cloud storage:
#ofs.impl = s3
#ofs.aws_access_key_id = ....
#ofs.aws_secret_access_key = ....


## Activity Streams Settings

#ckan.activity_streams_enabled = true
#ckan.activity_list_limit = 31
#ckan.activity_streams_email_notifications = true
# ckan.email_notifications_since = 2 days


## Email settings

email_to = <%=@email_errors_to%>
error_email_from = <%=@email_errors_from%>
smtp.server = localhost
smtp.starttls = False
#smtp.user = your_username@gmail.com
#smtp.password = your_password
#smtp.mail_from =
